body {
  font: 1em sans-serif;
  margin: 0;
  padding: 0;
  background: #BED2F1;
}

#content {
  padding: 10px 4px 30px 4px;
  margin: 0 auto;
  width: 570px;
  background: #FFF;
}

h1 {
  margin: 0 0 25px 0;
}

form div {
  padding: 10px 2px;
}

#sprint_controls {
  margin: 0 0 5px 0;
  padding: 8px;
  background: #DFDFDF;
  font-size: 75%;
}

.story_controls {
  padding: 2px;
  background: #DFDFDF;
  font-size: 75%;
  float: right;
}

#sprint_controls_link {
  float: right;
}

textarea {
  width: 340px;
  height: 90px;
}

.highlight_link {
  font-color: white;
  font-weight: bold;
  background-color: #DFB3C0;
}
